files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
      }

  "/etc/nginx/conf.d/static.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      location /static {
        alias /var/app/current/myapp/static;
      }